In [1]:
import numpy as np
import pandas as pd
import pickle


class pesr:
    def __init__(self, data,n):
        self.data = data
        self.n = n

    
    def ech_poss(self):
        import random
        import scipy.special                         ## fonction qui retourne les echantillons possibles vu le mode de prélévement.
        k= scipy.special.binom(len(self.data),self.n).astype(int)
        c=1
        L = [i for i in range(len(self.data))]
        z = random.sample(L, self.n)
        R = [set(z)]
        while c<k:
            z = random.sample(L, self.n)
            if set(z) in R:
                pass
            else:
                R.append(set(z))
                c+=1
        return R
    
    def samples_as(self):
        import pandas as pd
        import numpy as np
        import scipy.special
        k = scipy.special.binom(len(self.data), self.n)
        k = k.astype(int)
        obj = [[] for i in range(k)]                      ### Création des DataFrames des différents échantillons possibles.
        dfs = [pd.DataFrame() for i in range(k)]
        for i,x in enumerate(self.ech_poss()):
            for y in x:
                obj[i].append(self.data[y])
                dfs[i] = pd.Series(np.array(obj[i])).to_frame()
                c = f"echantillion {i+1}"
                dfs[i].columns = [c]
        horizontal_concat = pd.concat([dfs[i] for i in range(k)], axis=1)
        print('Les échantillons possibles à prélever vu le mode de prélevement (probabilités égales sans remise) sont présentés\n dans le tableau ci-dessous: ')
        return horizontal_concat

In [2]:
pesr([2,2,1,4], 2).ech_poss()

[{1, 3}, {0, 1}, {0, 3}, {1, 2}, {0, 2}, {2, 3}]

In [3]:
pesr([1,2,3,4,5,6], 2).samples_as()

Les échantillons possibles à prélever vu le mode de prélevement (probabilités égales sans remise) sont présentés
 dans le tableau ci-dessous:

,echantillion 1,echantillion 2,echantillion 3,echantillion 4,echantillion 5,echantillion 6,echantillion 7,echantillion 8,echantillion 9,echantillion 10,echantillion 11,echantillion 12,echantillion 13,echantillion 14,echantillion 15
0,4,2,1,2,1,2,1,3,2,1,3,5,1,3,4
1,5,3,2,5,6,6,5,4,4,4,5,6,3,6,6